.dropdown-1 {
  position: relative;
  perspective: 1000px;
  width: 144px;
}

.dropdown-1 button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 0;
  width: 100%;
  height: 64px;
  color: rgba(255, 255, 255, 0.55);
  background: #2d2f31;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: "Euclid Circular A", sans-serif;
}

.dropdown-1 > button {
  background: transparent;
  gap: 10px;
  margin: 0 -4px;
  white-space: nowrap;
}

.dropdown-1 > button > .chevron {
  transition: transform 0.3s ease;
}

.dropdown-1:hover > button,
.dropdown-1.open > button {
  color: rgba(255, 255, 255, 0.95);
}

.dropdown-1.open > button .chevron {
  transform: rotate(-180deg);
}

.dropdown-1 > button > .span {
  font-size: 30px;
}

.dropdown-1 button .chevron {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.dropdown-1-menu {
  position: absolute;
  top: 100%; /* Para que el menú aparezca justo debajo del botón */
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que el dropdown esté por encima de otros elementos */
  display: none; /* Oculto por defecto */
}


.dropdown-1.open .dropdown-1-menu {
  opacity: 1;
  transform: rotateX(0);
  visibility: visible;
  display: block;
}

.dropdown-1-menu .main-menu {
  width: 50%;
}

.dropdown-1-menu .menu-inner {
  position: absolute;
  width: 200%;
  display: flex;
  transition: transform 0.4s ease;
}

.dropdown-1-menu .menu-inner.open {
  transform: translateX(-50%);
}

.dropdown-1-menu button {
  border: 0;
  height: 56px;
  border-radius: 0;
  gap: 10px;
  padding: 0 8px 0 16px;
  text-transform: capitalize;
  background: none;
  color: rgba(255, 255, 255, 0.55);
  font-family: "Euclid Circular A", sans-serif;
  cursor: pointer;
}

.dropdown-1-menu button:hover {
  color: rgba(255, 255, 255, 0.95);
}

.dropdown-1-menu .sub-menu {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 0;
}

.dropdown-1 button .material-symbols-outlined:first-child {
  font-size: 22px;
}

.page.dropdown-1-page {
  margin: 0;
  display: grid;
  place-items: center;
  background: #212324;
  height: 100vh;
}

.dropdown-1-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #771dff;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-1-nav > h1 {
  font-weight: 400;
  margin-right: auto;
  margin-left: 14px;
  font-size: 16px;
  color: white;
}

